:root {
    --main-white: #f0f0f0;
    --main-red: #be3144;
    --main-blue: #45567d;
    --main-gray: #303841;
}

body {
    margin: 0;
}
/*||Typography*/

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    color: var(--main-white);
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2rem;
    padding: 5rem;
    margin: 0px;
    text-align: center;
}

.sub-heading {
    font-size: 1.5rem;
    font-weight: lighter;
    color: var(--main-red);
}

.small {
    text-transform: lowercase;
    font-weight: lighter;
}

/*||Sections*/

#navbar {
    background-color: var(--main-red);
    position: fixed;
    width: 100%;
    top: 0px;
}

#navbar ul {
    list-style: none;
    float: right;
}

#navbar li {
    display: inline;
    margin-right: 1.5rem;
}

#navbar a {
    text-decoration: none;
    color: var(--main-white);
}

#welcome-section {
    background-image: linear-gradient(to right, #3a3d40, #181719);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#welcome-section div {
    text-align: center;
}

#welcome-section h1, p {
    margin: auto;
}

.container-row {
    display: flex;
}

#projects {
    background-color: var(--main-blue);
}

#projects h3 {
    text-align: center;
    margin: 0px;
}

.project-tile {
    padding: 2rem;
    display: inline-block;
    background: var(--main-white);
    border-radius: 2em;
    margin: 2rem 2rem 8rem;
    color: var(--main-gray);
    width: 30%;
}

#contact-section {
    background-color: var(--main-gray);
    text-align: center;
}